[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none


# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none
